<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= header %></h1>
      <p>Welcome to <%= title %></p>
      <ul>
      <% for(let i = 0; i < messages.length; i++){ %>
        <li> <%= messages[i].text %> </li>
      <% } %>
      </ul>
      <div class="">
        <form class="form" action="/delete" method="get">
          <button type="submit" name="button"></button>
        </form>
      </div>
    </div>
  </body>
</html>
